<section id="favorites" class="lg:w-1/3 lg:pt-20 px-5 sm:px-16 md:px-5 bg-foreground py-8">
  <div class="relative z-10 mb-4"> 
    <h2 class="transform rotate-6 pr-4 text-primary font-bold inline-block bg-foreground text-shadow-bg">Favorites</h2>
    <hr class="border-t-1 -pl-6 absolute w-full divider border-secondary">    
  </div>

  <div class="grid-container relative gap-6 -mx-5 sm:-mx-16 md:-mx-5 z-10">
  
    <a href="#" style="width: max-content;grid-area: books;" class="no-underline cursor-pointer p-3 rounded-r lg:rounded-l lg:rounded-r-none bg-tertiary">
      <h3 class="text-black flex lg:flex-row-reverse">
        <div class="inline pr-2 lg:pl-2">Books</div>           
        <span>📚</span>
      </h3>
    </a>

    <a href="#" style="width: max-content;grid-area: board" class="no-underline cursor-pointer grid-self-end p-3 rounded-l bg-tertiary">
      <h3 class="text-black">
        🎲 Board games
      </h3>
    </a>

    <a href="#" style="width: max-content;grid-area: games" class="no-underline cursor-pointer p-3 rounded-r lg:rounded-l lg:rounded-r-none bg-tertiary">
      <h3 class="text-black flex lg:flex-row-reverse">           
        <div class="inline pr-2 lg:pl-2">Videogames</div>                
        <span>🎮</span>          
      </h3>
    </a>

    <a href="#" style="width: max-content;grid-area: posts" class="no-underline cursor-pointer grid-self-end p-3 rounded-l bg-tertiary">
      <h3 class="text-black">
          📝 Blog posts
      </h3>
    </a>

    <a href="#" style="width: max-content;grid-area: twitter" class="no-underline cursor-pointer p-3 rounded-r lg:rounded-l lg:rounded-r-none bg-tertiary">  
      <h3 class="text-black flex lg:flex-row-reverse ">
        <div class="inline pr-2 lg:pl-2">Twitter follows</div>                
        <span>↪️</span>                    
      </h3>
    </a>

    <a href="#" style="width: max-content;grid-area: music" class="no-underline cursor-pointer grid-self-end p-3 rounded-l bg-tertiary">
      <h3 class="text-black">
          🎸 Music          
      </h3>
    </a>

  </div>
  
</section>  