 <section id="social" class="lg:w-2/3 lg:pt-20 bg-foreground pt-12 px-5 sm:px-16 md:px-32">  
    <div class="relative z-10 mb-4">
      <h2 class="transform -rotate-6 pr-4 text-primary font-bold inline-block bg-foreground text-shadow-bg">Social</h2>
      <hr class="border-t-1 -pl-6 absolute w-full divider border-secondary">    
    </div>
    
    <div class="flex items-center">      
      <div class="sm:pl-4 flex flex-col w-full z-10">
        {% social "twitter", "I tweet about software 🌈", "https://twitter.com/DavidOjedaL" %}
        
        {% social "DEV", "I write about software ✍🏼", "https://dev.to/david_ojeda" %}

        {% social "github", "I code 👨‍💻", "https://github.com/davidojedalopez" %}      

        {% social "linkedin", "I exist 😁", "https://www.linkedin.com/in/david-ojeda-lopez/" %}

        <h2 class="text-primary sm:rounded pt-4 sm:p-3 sm:bg-background sm:z-10" style="width: fit-content">
          Follow my dog too!
        </h2>
        <div class="flex sm:items-center sm:justify-around">                    
          <img class="transform translate-x-4 -translate-y-8 w-64 hidden sm:inline rounded" src="/img/nina_square.png" />
          {% social "instagram", "She barks 🐶", "https://www.instagram.com/pawsome_nina/" %}          
        </div>
      </div>
    </div>
    
  </section>