<li class="py-3 hover:bg-primary rounded px-3 group cursor-pointer">
  <a class="no-underline" href="{{ game.data.affiliateUrl | url }}">
    <h3 class="group-hover:text-black">{{ game.data.name }} <span class="text-xs">🔗</span> </h3>
    <p class="pb-1">{{ game.data.description }}</p>    
  </a>
</li>