<footer class="flex flex-col justify-end bg-foreground p-4 px-4 sm:px-12">
  <div class="flex items-center space-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 980 980" class="w-4 stroke-current fill-current text-secondary">
      <circle cx="490" cy="490" r="440" fill="none" stroke="#D4F4FF" stroke-width="100"/>
      <path d="M219,428H350a150,150 0 1 1 0,125H219a275,275 0 1 0 0-125z"/>
    </svg>
    <span class="text-xl text-secondary">Copyleft</span>
  </div>
  
  <div>
    <p class="text-2xl lg:text-4xl">Best place to reach me is on Twitter <a href="">@DavidOjedaL</a></p>
  </div>
  
</footer>