<header class="flex main-content-padding pt-4 bg-background px-5 sm:px-16 md:px-32 lg:px-56 xl:px-64">
  <div class="flex-1">
    <span class="text-secondary sm:text-lg">Hi, I'm</span>
    <span class="transform translate-x-8 -rotate-6 text-primary text-5xl sm:text-5xl leading-none font-black text-shadow-bg block">
      David<br> &nbsp;&nbsp;Ojeda
    </span>
  </div>
  <span class="flex-1 text-secondary text-lg text-2xl sm:text-3xl font-bold self-start md:self-center text-center">Web enthusiast & fullstack developer</span>
</header>