<div class="pt-4 pb-2">
  <p>Most recent</p>
</div>

<div class="">
  <ul class="max-w-xl lg:max-w-2xl pl-1 list-none divide-opacity-50 divide-primary flex-auto">
    {% for post in postsList | reverse %}
      {% include "postitem.njk" %}
    {% endfor %}
  </ul>
  
  <button class="max-w-xl lg:max-w-2xl mt-6 w-full text-3xl text-primary bg-background border-2 rounded border-primary p-1 font-bold shadow-lg focus:outline-none focus:shadow-outline hover:bg-foreground border-b-4">Show all posts</button>
</div>
