<div class="pt-4 pb-2">
  <p>Most recent</p>
</div>

<div class="flex">
  <ul class="max-w-xl lg:max-w-2xl pl-1 list-none divide-opacity-50 divide-primary flex-auto">
    {% for post in postsList | reverse %}
      {% include "postitem.njk" %}
    {% endfor %}
  </ul>

  {# <img src="/img/1f396.svg" class="flex-auto sm:hidden md:inline" width="10" height="10" />   #}
  
</div>
