<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    {# <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}"> #}
    <link rel="stylesheet" type="text/css" href="/assets/main.css" >
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body class="leading-snug">
    
      <header class="flex px-5 sm:px-16 pt-4 bg-foreground">
        <div class="flex-1">
          <span class="text-secondary sm:text-lg">Hi, I'm</span>
          <h1 class="transform translate-x-8 -rotate-6 text-primary sm:text-5xl leading-none font-black">
            David<br> &nbsp;&nbsp;Ojeda</span>
          </h1>
        </div>
        <h2 class="flex-1 text-secondary text-lg sm:text-3xl font-bold self-start text-center">Web enthusiast & fullstack developer</h2>        

      </header>
      
      <main class="">
        {{ content | safe }}
      </main>

      <footer class="flex justify-between items-center bg-foreground p-4">
        <div class="basis-75">
          <p>Copyleft</p>
        </div>
        
        <div>
          <p>Best place to reach me is on Twitter <a href="">@DavidOjedaL</a></p>
        </div>
        
      </footer>
    
    <!-- Current page: {{ page.url | url }} -->
    <script src="/assets/main.js"></script>
  </body>
</html>
