---
layout: layouts/base.njk
templateClass: tmpl-post
permalink: "posts/{{ published_at | slugDate }}/{{ title | slug }}/"
---
{% include "header.njk" %}

<article class="bg-background pt-5 blog-post w-4/5 lg:w-1/2 mx-auto">
  <h1 class="text-primary">{{ title }}</h1>
  <time class="text-sm text-secondary opacity-50" datetime="{{ published_at | htmlDateString }}">{{ published_at | readableDate }}</time>

  <div class="pt-5 blog-post-content leading-relaxed">  
    {{ content | safe }}
  </div>
</article>

{# Add sharing options, comments, previous posts #}

{% include "footer.njk" %}