
.mirror-x {
  transform: scale(-1, 1);
}

header {  
  background-image: url('/img/header.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  min-height: 9rem;
}

.divider {
  top: 50%;
  z-index: -1;
}

.social-element {
  display: -ms-inline-flexbox;  
  display: -webkit-box;  
}

.social-element.twitter:hover {  
  background: linear-gradient(to right, rgb(120,210,250) 10%, #586674);  
}

.social-element.dev:hover {  
  background: linear-gradient(to right, black 10%, #586674);                
}

.social-element.linkedin:hover {  
  background: linear-gradient(to right, rgb(0,116,179) 10%, #586674);                        
}

.social-element.github:hover {  
  background: linear-gradient(to right, rgb(33,33,33) 10%, #586674);
}

.social-element.instagram:hover {  
  background: linear-gradient(to right, rgb(230,140,190) 10%, #586674);   
}

@screen sm {
  .social-element.instagram:hover {  
    background: linear-gradient(to bottom, rgb(230,140,190) 10%, #586674);
  }
}

@screen md {
  .social-element.instagram:hover {  
    background: linear-gradient(to right, rgb(230,140,190) 10%, #586674);   
  }  
}

#social {
  min-height: 21em;  
}

#favorites {
  
}

.basis-75 {
  flex-basis: 75%;
}

footer {
  background-image: url('/img/footer.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 10rem;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    "books board"
    "games posts"
    "twitter music"
  ;    
}

@media (min-width: 1024px) {
  .grid-container {    
    justify-items: end;
    grid-template-areas: 
      "music"
      "books"
      "posts"
      "board"
      "games"
      "twitter"
    ; 
  }
}

.grid-self-end {
  justify-self: end;
}

.text-shadow-bg {
  text-shadow: 1px 1px 2px #2A3744;
}

.text-shadow-fg {
  text-shadow: 1px 1px 2px #586674;
}

.all-posts {
  background: rgb(88,102,116);
  background: linear-gradient(0deg, rgba(88,102,116,1) 0%, rgba(42,55,68,1) 20%);
}