@tailwind base;

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl text-tertiary;
}

p,
a {
  @apply text-lg text-secondary;  
  hyphens: auto;
}

a {
  @apply text-primary underline;
}

@tailwind components;
@tailwind utilities;

.mirror-x {
  transform: scale(-1, 1);
}

header {
  /* background-image: url(/img/header.svg);
  background-size: cover; */

  background-image: url('/img/header.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  min-height: 9rem;
}

.divider {
  top: 50%;
  z-index: -1;
}

#blog {
  /* background-image: url(/img/line.svg);
  background-size: cover; */
}

.shaped-outside {
  /* shape-outside: url(/img/nina_square.png); */
  /* width: 43%; */
}

.social-element.twitter:hover {  
  background: linear-gradient(to right, rgb(120,210,250) 10%, #586674);  
}

.social-element.dev:hover {  
  background: linear-gradient(to right, black 10%, #586674);                
}

.social-element.linkedin:hover {  
  background: linear-gradient(to right, rgb(0,116,179) 10%, #586674);                        
}

.social-element.github:hover {  
  background: linear-gradient(to right, rgb(33,33,33) 10%, #586674);
}

.social-element.instagram:hover {  
  background: linear-gradient(to right, rgb(230,140,190) 10%, #586674);   
}

@screen sm {
  .social-element.instagram:hover {  
    background: linear-gradient(to bottom, rgb(230,140,190) 10%, #586674);
  }
}

@screen md {
  .social-element.instagram:hover {  
    background: linear-gradient(to right, rgb(230,140,190) 10%, #586674);   
  }  
}

#social {
  min-height: 21em;  
}

.con {
  background-image: url('/img/social.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#favorites {
  
}

.basis-75 {
  flex-basis: 75%;
}

footer {
  background-image: url('/img/footer.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 10rem;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    "books board"
    "games posts"
    "twitter music"
  ;    
}

@media (min-width: 1024px) {
  .grid-container {    
    justify-items: end;
    grid-template-areas: 
      "music"
      "books"
      "posts"
      "board"
      "games"
      "twitter"
    ; 
  }
}

.grid-self-end {
  justify-self: end;
}

.text-shadow-bg {
  text-shadow: 1px 1px 2px #2A3744;
}

.text-shadow-fg {
  text-shadow: 1px 1px 2px #586674;
}

